ansible-core==2.20.2    # see https://pypi.org/project/ansible-core/
ansible-lint==26.1.1    # see https://pypi.org/project/ansible-lint/
pypsrp[credssp]==0.9.0  # see https://pypi.org/project/pypsrp/
