ansible-core==2.17.1    # see https://pypi.org/project/ansible-core/
ansible-lint==24.6.1    # see https://pypi.org/project/ansible-lint/
pypsrp[credssp]==0.8.1  # see https://pypi.org/project/pypsrp/
