ansible-core==2.16.3    # see https://pypi.org/project/ansible-core/
ansible-lint==24.2.0    # see https://pypi.org/project/ansible-lint/
pypsrp[credssp]==0.8.1  # see https://pypi.org/project/pypsrp/
